# Telegram Bot Token (получить у @BotFather)
BOT_TOKEN=8690408589:AAFqpJp5s2531j3Ckx656xm3xzxme5skuRY

# Telegram ID администратора (число, узнать у @userinfobot)
ADMIN_ID= 1260886378

# Каналы для обязательной подписки (через запятую, ID или @username)
# Пример: @channel1,@channel2,-1001234567890
CHANNEL_IDS=@channel1,@channel2

# Путь к базе данных
DATABASE_PATH=data/bot.db

# Уровень логирования (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=DEBUG

# Rate Limiting (защита от спама)
RATE_LIMIT_MAX_REQUESTS=10
RATE_LIMIT_WINDOW=60

# Кэширование
# CACHE_BACKEND=local (In-Memory) или redis
CACHE_BACKEND=local
# URL подключения к Redis (требуется, если CACHE_BACKEND=redis)
REDIS_URL=redis://localhost:6379/0
